@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
  --color-primary: #30d158;
  --color-primary-foreground: #000000;
  --color-secondary: #121212;
  --color-secondary-foreground: #ffffff;
  --color-accent: #caedcb;
  --color-muted: #1a1a1a;
  --color-muted-foreground: #a3a3a3;
  --color-border: #262626;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-white/20;
}
